<h1>画像投稿フォーム</h1>
  <%= form_with(model: @post, local: true) do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    
    <div class="check_box">
      <%#= f.collection_select(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>本文</h4>
      <%= f.text_area :text %>
    
    <div class="actions">
      <%= f.label :address, '場所' %>
      <%= f.text_field :address, class: 'form-control' %>
      <%= f.label :lat,"緯度" %>
      <%= f.text_field :lat,:value =>"緯度", id: :latitude %>
      <%= f.label :lng,"経度" %>
      <%= f.text_field :lng,:value =>"経度", id: :longitude %>
    </div>
    
    <%= f.submit '投稿' %>
  <% end %>    
<!--badkup-->
<h2>gmap</h2>


<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<!--<div id="display">何かが表示される、、、、！</div>-->


<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
// 初期マップ設定
let map
// let geocoder
let marker

// const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6803997, lng:139.7690174}, //東京
    zoom: 12,
  });

  // marker = new google.maps.Marker({
  //   position:  {lat: 40.7828, lng:-73.9653},
  //   map: map
  // });
}
 
//検索語マップ設定

let geocoder
let aft

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true // ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('latitude').value = results[0].geometry.location.lat();
        document.getElementById('longitude').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('latitude').value = ev.latLng.lat();
            document.getElementById('longitude').value = ev.latLng.lng();
        });
        // display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
    
    // if (status == 'OK') {
    //   map.setCenter(results[0].geometry.location);
    //   var marker = new google.maps.Marker({
    //       map: map,
    //       position: results[0].geometry.location
    //   });
    //   display.textContent = "検索結果：" + results[ 0 ].geometry.location
    // } else {
    //   alert('該当する結果がありませんでした：' + status);
    // }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9T8hOp59D7S7hnSgl_dq9K2YjcqsoV-o&callback=initMap" async defer></script>
