<div class='container px-5 px-sm-0'>
  <div class='row'>
    
    <div class='col-md-4'> 
      <ul style= "border: solid 3px #000" >
      <h3>新規投稿</h3>
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      
        <%= form_with(model: @post, local: true) do |f| %>
          <h4>画像</h4>
            <%= f.file_field :image, accept: "image/*" %>
          
          <div class="check_box">
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <div class='form-check'>
                <%= tag.label do %>
                  <%= tag.check_box %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
          
          <h4>タイトル</h4>
            <%= f.text_field :title %>
          <h4>本文</h4>
            <%= f.text_area :text,  class: 'form-control',size: "20x10" %>
          
          <div class="actions">
            <div>
              <input id="address" type="textbox" value="地名検索">
              <input type="button" value="検索" onclick="codeAddress()">
            <!--<%#= f.label :address, '場所' %>-->
            <!--<%#= f.text_field :address, class: 'form-control' %>-->
            </div>
            <div>
              <%= f.label :lat,"緯度" %>
              <%= f.text_field :lat,:value =>"緯度", id: :lat %>
            </div>
            <div>
              <%= f.label :lng,"経度" %>
              <%= f.text_field :lng,:value =>"経度", id: :lng %>
            </div>  
          </div>
          
          <%= f.submit '投稿' %>
        <% end %>    
      </ul>
    </div>  
    <div class='col-md-8'>
      
      <%= render 'public/posts/new_map' %>
    </div>
  </div>    
</div>  