<h1>画像投稿フォーム</h1>
  <%= form_with(model: @post, local: true) do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    
    <div class="check_box">
      <%#= f.collection_select(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <div class="form-group">
     <%= f.label :address, '場所' %>
     <%= f.text_field :address, class: 'form-control' %>
    </div>
    
<!---->
<p>test</p>    
<h2>gmap</h2>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 36.5783, lng:136.6481},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 36.5783, lng:136.6481},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9T8hOp59D7S7hnSgl_dq9K2YjcqsoV-o&callback=initMap" async defer></script>
<!---->
      
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>本文</h4>
      <%= f.text_area :text %>
    <%= f.submit '投稿' %>
  <% end %>