


<%= render 'public/searches/form' %>


<!--投稿一覧-->
<h3>投稿一覧</h3>
<% @posts.each do |post| %>

  <p>タイトル</p>
  <span>
    <%=link_to post.title, post_path(post.id) %>
  </span>
  <p>画像</p>
    <%= image_tag post.image, size: "200x200" %>
  <P>本文</P>
  <span><%= post.text %></span>
  <p>投稿者</p>
  <span><%= post.user.last_name %> <%= post.user.first_name %></span>
<% end %>