<div class="container">
  <div class ="col-md-3">
    <h4 class ="bg-light", align="center">タグ一覧・追加</h4>
  </div>
  
    <div class ="row">
      <div class ="col-md-6">
      <%= form_with model: @tag, url: admin_tags_path do |f| %>
        <%= f.label :"タグ", class:"mr-5 mt-5 mb-5" %>
        <%= f.text_field :name, autofocus: true, placeholder: "タグ", class:"mr-5 ml-5" %>
        <%= f.submit "新規登録", :class =>'btn btn-success' %>
      <% end %>
      </div>
  </div>

  <div  class="col-md-4">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th colspan="2">タグ</th>
        </tr>
      </thead>
      <tbody>  
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td><%= link_to "編集する", edit_admin_tag_path(tag.id), class:"btn btn-success" %></td>
          </tr>
        <% end %>  
      </tbody> 
    </table>
  </div>
</div>  
        