<div class="container">
  <div class ="col-md-3">
    <h3 class ="bg-light", align="center">会員情報編集</h3>
  </div>
  
  <div class ="row">
    <div class ="col-md-8">
      <%= form_with model: @user, url: user_path do |f| %>
      <table class ="table table-borderless">
        <tbody>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name, size:"20", class:"mr-5" %><%= f.text_field :first_name, size:"20" %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana, size:"20", class:"mr-5" %><%= f.text_field :first_name_kana, size:"20" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, size:"20" %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit '編集内容を保存', class:"btn btn-success w-50 mr-5" %>
            <%= link_to '退会する', unsubscribe_path, class:"btn btn-danger ml-5" %>
          </td>
        </tr>
        </tbody>
        
      </table>
      <% end %>
    </div>
  </div>
</div>

