<div class="container">
  <div class ="col-md-3"></div>
  <div class ="col-md-6">
    <% if @user.id == current_user.id %>
      <h3 class ="bg-light", align="center">マイページ</h3>
    <% else %>
      <h3 class ="bg-light", align="center">ユーザー詳細</h3>
    <% end %>
  </div>
  <div class ="col-md-3"></div>

  <div class ="row mt-5">
    <div class ="col-md-4">
      <% if @user.id == current_user.id %>
        <h5 class ="font-weight-bold">登録情報<%= link_to '編集する', edit_user_path(@user.id), class:"btn btn-success ml-4" %></h5>
      <% else %>
        <h5>登録情報</h5>
      <% end %>
      <table class="table table-bordered mt-4">
      <tr>
        <td class ="table-active">氏名</td>
        <td><%= @user.last_name %> <%= @user.first_name %></td>
      </tr>
      <tr>
        <td class ="table-active">カナ</td>
        <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
      </tr>
      <tr>
        <td class ="table-active">メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
      </table>
    </div>
    <div class ="col-md-4">  
      <h5 class ="font-weight-bold">投稿</h5>
　　<%= render 'public/posts/post_index', posts: @posts %>
    </div>
    <div class ="col-md-4">
      <% if @user.id == current_user.id %>
        <h5 class ="font-weight-bold">いいね一覧</h5>
        <%= render  "public/posts/all_favorite", favorite_posts: @favorite_posts %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
