<!DOCTYPE html>
<html>
  <head>
    <title>REKISHI NAVI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <p id="notice"><%= notice %></p>
      <div class="container">
        <div class="d-flex justify-content-center mb-2">
          <% if user_signed_in? %>
            <div class="mr-3">
                <%= link_to new_post_path , class:"btn btn-outline-secondary text-dark",data: {"turbolinks"=>false} do %>新規投稿
                <% end %>
            </div>
            <div class="mr-3">
                <%= link_to users_my_page_user_path(current_user.id) , class:"btn btn-outline-secondary text-dark" do %>いいね一覧
                <% end %>
            </div>
          <% end %>
          <div class="mr-3"><%= render 'public/searches/form' %></div> 
          <div class="mr-3"><%= render 'public/searches/tag_form' %></div> 
        </div>
      </div>  
      <%= yield %>
    </main>
    
  </body>
  <%= render 'layouts/footer' %>
  
</html>